# PBS configuration

# If submitting to a different project to your default, uncomment line below 
# and change project code as appropriate; also set shortpath below
project: x77

# Force payu to always find, and save, files in this scratch project directory
# (you may need to add the corresponding PBS -l storage flag in sync_data.sh)
# shortpath: /scratch/v45

queue: normalsr
ncpus: 208
jobfs: 10GB
mem: 1000GB

walltime: 02:00:00
jobname: rOM3-generic

model: access-om3

exe: access-om3-MOM6
input:
    # Ocean input files
    - /g/data/ol01/ab8992/rmom6_inputdirs/rom3-tas
    # Mesh files for JRA atmospheric forcing
    - /g/data/vk83/configurations/inputs/access-om3/share/meshes/share/2024.09.16/JRA55do-datm-ESMFmesh.nc
    - /g/data/vk83/configurations/inputs/access-om3/share/meshes/share/2024.09.16/JRA55do-drof-ESMFmesh.nc
    # JRA atmospheric forcing file
    - /g/data/qv56/replicas/input4MIPs/CMIP6Plus/OMIP/MRI/MRI-JRA55-do-1-6-0/

collate: false
runlog: false
metadata: 
    enable: false

platform:
    nodesize: 104
    nodemem: 512

# userscripts:
#     setup: /usr/bin/bash /g/data/vk83/apps/om3-scripts/payu_config/setup.sh
#     archive: /usr/bin/bash /g/data/vk83/apps/om3-scripts/payu_config/archive.sh

modules:
    use:
        - /g/data/vk83/prerelease/modules
    load:
        - access-om3/pr144-1
        - nco/5.0.5
env:
payu_minimum_version: 1.1.6
