# Payu configuration

# If submitting to a different project to your default, uncomment line below 
# and change project code as appropriate; also set shortpath below
# project: e14
# Force payu to always find, and save, files in this scratch project directory
# shortpath: /scratch/x77

# Using payu sync is recommend to copy data from ephemeral scratch space to 
# longer term storage
sync:
    enable: False # set path below and change to true
    path: 
    #    /g/data/x77/cy8964/access-om3/archive/ice_shelf_panan-spin-up-211125
    restarts: True
    exclude_uncollated: False

#Model software version
modules:
    use:
        - /g/data/vk83/modules
        - /g/data/vk83/prerelease/modules
    load:
        - access-om3/pr142-26
        - model-tools/mppnccombine-fast

queue: normalsr
ncpus: 2990
jobfs: 10GB
mem: 14700GB
walltime: 4:00:00
jobname: 8km_panAn_is

model: access-om3
exe: access-om3-MOM6-CICE6
input:
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/kmt_Charrassin_sea_ice_from_iceelev_new150925.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/ocean_hgrid_cropped.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/ocean_vgrid_cropped.nc
    - /g/data/x77/cy8964/mom6/input/input-8km/Yamazaki_ACCESS-OM2_IC_LarsenWeddellRossedits_smoothed.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/salt_restore_interpolated_nearest.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/salt_restore_mask.nc
    - /g/data/x77/cy8964/mom6/input/input-8km/bottom_roughness_extended_into_cavity_74Sedit.nc
    - /g/data/x77/cy8964/mom6/input/input-8km/tideamp_Charrassin_cavity_cropped.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/topog_Charrassin_sea_ice_from_iceelev_new150925.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/topog_Charrassin_open_cavity_noGL5m_new150925.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/access-om3-8km-ESMFmesh_Charrassin_nocavity_cropped.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/access-om3-8km-nomask-ESMFmesh_Charrassin_nocavity_cropped.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/share/meshes/share/2026.01.21/JRA55do-datm-ESMFmesh.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/share/meshes/share/2026.01.21/JRA55do-drof-ESMFmesh.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/access-om3-8km-rof-remap-weights_Charrassin_nocavity_cropped.nc
    - /g/data/vk83/experiments/inputs/JRA-55/RYF/v1-4/data
    - /g/data/tm70/cy8964/mom6/input/input-8km/forcing_access_yr2_8km_fill_mod.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/diag_rho2.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/150925/ice_thickness_Charrassin_regridded_cropped_add_area_where_iceelev_noGL5m_ADDHMASKFILLTHICK_150925.nc
    - /g/data/tm70/cy8964/mom6/input/input-8km/mask_table.1490.84x49

restart: /scratch/x77/cy8964/access-om3/archive/ice_shelf_panan-spin-up-211125/restart065

runlog: true
metadata: 
    enable: true
manifest:
  reproduce:
    exe: True
    input: True

platform:
    nodesize: 104
    nodemem: 512

collate:
  restart: true
  mpi: true
  walltime: 1:00:00
  mem: 80GB
  ncpus: 16
  queue: normalsr
  exe: mppnccombine-fast

userscripts:
  archive: /usr/bin/bash /g/data/vk83/apps/om3-scripts/payu_config/archive.sh
  error: resub.sh
  run: rm -f resubmit.count

postscript: -v PROJECT,SCRIPTS_DIR=/g/data/vk83/apps/om3-scripts 
  -lstorage=${PBS_NCI_STORAGE}+gdata/xp65 
  /g/data/vk83/apps/om3-scripts/payu_config/postscript.sh

qsub_flags: -W umask=027

restart_freq: 1
payu_minimum_version: 1.2.0
