# PBS configuration

# If submitting to a different project to your default, uncomment line below 
# and change project code as appropriate; also set shortpath below
project: x77

# Force payu to always find, and save, files in this scratch project directory
# (you may need to add the corresponding PBS -l storage flag in sync_data.sh)
shortpath: /scratch/v45

queue: normal
ncpus: 48
jobfs: 10GB

walltime: 01:00:00
jobname: gmom_jra

model: access-om3

exe: /g/data/ik11/inputs/access-om3/bin/access-om3-MOM6-CICE6-0.1.0
input: 
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/share/meshes/T62_040121_ESMFmesh.nc # datm meshfile
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/share/meshes/TL319_151007_ESMFmesh.nc # datm JRA stream meshfile
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/share/meshes/fv0.9x1.25_141008_polemod_ESMFmesh.nc # datm aerosol/lnd stream meshfile
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/share/meshes/gx1v6_090205_ESMFmesh.nc # ice, ocn meshfile
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/share/meshes/rx1_nomask_181022_ESMFmesh.nc # drof meshfile
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/cpl/gridmaps/rx1/map_rx1_to_gx1v6_nnsm_e1000r300_170503.nc
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/cpl/gridmaps/rx1/map_rx1_to_gx1v6_nn_open_ocean_nnsm_e1000r300_marginal_sea_170503.nc
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/ocn/jra55/v1.3_noleap # datm JRA stream
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/atm/cam/chem/trop_mozart_aero/aero/aerosoldep_WACCM.ensmean_monthly_hist_1849-2015_0.9x1.25_CMIP6_c180926.nc # datm aerosol stream
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/lnd/clm2/ndepdata/fndep_clm_hist_b.e21.BWHIST.f09_g17.CMIP6-historical-WACCM.ensmean_1849-2015_monthly_0.9x1.25_c180926.nc # datm lnd stream
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/lnd/dlnd7/JRA55 # drof stream
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/ice/cice/b.e15.B1850G.f09_g16.pi_control.25.cice.r.0041-01-01-00000.nc # ice initial conditions
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/ice/cice/global_gx1.bathy.nc # ice bathymetry file
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/ocn/pop/gx1v6/grid/horiz_grid_20010402.ieeer8 # ice grid file
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/ocn/pop/gx1v6/grid/topography_20090204.ieeei4 # ice kmt file
    - /g/data/ik11/inputs/access-om3/0.1.0/cime/ocn/mom/gx1v6 # ocn input data
 
collate: false
runlog: false

modules:
  use:
      - /g/data/ik11/spack/0.20.1/modules/access-om3/cesm-0.1.0/linux-rocky8-x86_64
  load:
      - intel-compiler/2021.6.0
      - openmpi/4.1.4
      - parallelio/2.5.9
