collate:
  exe: mppnccombine-fast
  mem: 30GB
  mpi: true
  ncpus: 4
  queue: normalsr
  restart: true
  walltime: 14400
exe: access-om3-MOM6-CICE6
input:
- /g/data/vk83/configurations/inputs/access-om3/cice/grids/global.25km/2025.11.27/kmt.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/grids/mosaic/global.25km/2025.09.02/ocean_hgrid.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/grids/vertical/global.25km/2025.03.12/ocean_vgrid.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/initial_conditions/global.25km/2025.10.24/woa23_ts_01_mom.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/surface_salt_restoring/global.25km/2025.10.24/salt_sfc_restore.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/tidal_external_files/global.25km/2025.09.03/bottom_roughness.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/tidal_external_files/global.25km/2025.09.03/tideamp.nc
- /g/data/vk83/configurations/inputs/access-om3/share/grids/global.25km/2025.11.27/topog.nc
- /g/data/vk83/configurations/inputs/access-om3/mom/chlorophyll/global.25km/2025.11.21/chl_globcolour_monthly_clim.nc
- /g/data/vk83/configurations/inputs/access-om3/share/meshes/global.25km/2025.11.27/access-om3-25km-ESMFmesh.nc
- /g/data/vk83/configurations/inputs/access-om3/share/meshes/global.25km/2025.11.27/access-om3-25km-nomask-ESMFmesh.nc
- /g/data/vk83/prerelease/configurations/inputs/access-om3/share/meshes/share/2026.01.21/JRA55do-datm-ESMFmesh.nc
- /g/data/vk83/prerelease/configurations/inputs/access-om3/share/meshes/share/2026.01.21/JRA55do-drof-ESMFmesh.nc
- /g/data/vk83/configurations/inputs/access-om3/cmeps/remap_weights/global.25km/2025.11.27/access-om3-25km-rof-remap-weights.nc
- /g/data/vk83/configurations/inputs/JRA-55/RYF/v1-6/data
jobfs: 10GB
jobname: 25km_jra_ryf
manifest:
  reproduce:
    exe: false
    input: true
mem: 9500GB
metadata:
  enable: true
model: access-om3
modules:
  load:
  - access-om3/pr163-2
  - model-tools/mppnccombine-fast
  use:
  - /g/data/vk83/modules
  - /g/data/vk83/prerelease/modules
ncpus: 1976
payu_minimum_version: 1.2.0
platform:
  nodemem: 512
  nodesize: 104
postscript: -v PROJECT,SCRIPTS_DIR=/g/data/vk83/apps/om3-scripts -lstorage=${PBS_NCI_STORAGE}+gdata/xp65
  /g/data/vk83/apps/om3-scripts/payu_config/postscript.sh
qsub_flags: -W umask=027
queue: normalsr
restart_freq: 1YS
runlog: true
sync:
  enable: false
  exclude_uncollated: false
  path: null
  restarts: true
userscripts:
  archive: /usr/bin/bash /g/data/vk83/apps/om3-scripts/payu_config/archive.sh
walltime: 21600
