# Payu configuration

# If submitting to a different project to your default, uncomment line below 
# and change project code as appropriate; also set shortpath below
# project: ol01
# Force payu to always find, and save, files in this scratch project directory
# shortpath: /scratch/x77

# Using payu sync is recommend to copy data from ephemeral scratch space to 
# longer term storage
sync:
    enable: False # set path below and change to true
    path: null # Set to location on /g/data (e.g. /g/data/PROJECT/USER/EXPERIMENT)
    restarts: True
    exclude_uncollated: False

#Model software version
modules:
    use:
        - /g/data/vk83/modules
    load:
        - access-om3/2025.08.001
        - model-tools/mppnccombine-fast

queue: normalsr
ncpus: 1664
jobfs: 10GB
mem: 8000GB
walltime: 4:00:00
jobname: 4km_panAn_om3

model: access-om3
exe: access-om3-MOM6-CICE6
input:
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/kmt.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/ocean_hgrid.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/ocean_vgrid.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/ocean_temp_salt.res.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/salt_sfc_restore.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/bottom_roughness.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/tideamp.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/topog.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/access-om3-4km-ESMFmesh.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/access-om3-4km-nomask-ESMFmesh.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/share/meshes/share/2026.01.21/JRA55do-datm-ESMFmesh.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/share/meshes/share/2026.01.21/JRA55do-drof-ESMFmesh.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/access-om3-4km-rof-remap-weights.nc
    - /g/data/vk83/configurations/inputs/JRA-55/RYF/v1-6/data
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/OBC37S_forcing_access_yr2_4km.nc
    - /g/data/vk83/prerelease/configurations/inputs/access-om3/panan.4km/2026.01.08/diag_rho2.nc

runlog: true
metadata: 
    enable: true
manifest:
  reproduce:
    exe: True
    input: True

platform:
    nodesize: 104
    nodemem: 512

collate:
  restart: true
  mpi: true
  walltime: 1:00:00
  mem: 80GB
  ncpus: 16
  queue: normalsr
  exe: mppnccombine-fast

userscripts:
    archive: /usr/bin/bash /g/data/vk83/apps/om3-scripts/payu_config/archive.sh

postscript: -v PROJECT,SCRIPTS_DIR=/g/data/vk83/apps/om3-scripts -lstorage=${PBS_NCI_STORAGE}+gdata/xp65 /g/data/vk83/apps/om3-scripts/payu_config/postscript.sh

qsub_flags: -W umask=027

restart_freq: 1YS
payu_minimum_version: 1.2.0
