# =========== IMPORTANT!! READ THIS!! ============ #
# This file is used to check links and can be copied to be used in other websites.

# When you copy this file, make sure to check and modify the fields
# that here are marked with `MODIFY`.
# ============================================== #

name: Check links

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  check-links:
    uses: access-nri/access-hive-docs/.github/workflows/check_links_workflow.yml@main
    with:
      repo: '${{ github.repository }}'
      ref_name: "${{ github.event_name == 'pull_request' && format('refs/pull/{0}/head', github.event.pull_request.number) || github.ref_name }}"
      rtd_project: 'access-om3-configs'  # MODIFY: change this to the Read the Docs project
      python_requirements_txt: 'documentation/requirements.txt' # MODIFY: Uncomment to add requirements.txt path. If not included, 'requirements.txt' is used.
      mkdocs_yaml: 'documentation/mkdocs.yml' # MODIFY: Uncomment to add mkdocs.yml path. If not included, 'mkdocs.yml' is used.
    #   lychee_config: '/path/to/lychee_config.toml' # MODIFY: Uncomment to add lychee config path. If not included, the Hive Docs' one gets used.
    #   # MODIFY: Uncomment the lines below if the repo is private. You also need to create a secret named REPO_READ_TOKEN with a token that has repo read permissions.
    # secrets:
    #   repo_read_token: ${{ secrets.REPO_READ_TOKEN }}