# Configuration file for lychee link-checker (https://github.com/lycheeverse/lychee/blob/master/lychee.example.toml)
# This file was copied and adapted from https://github.com/ACCESS-NRI/ACCESS-Hive-Docs/blob/8069df4cb697c968a08b0d6e589345acefafc8c3/.github/workflows/lychee_config.toml

#############################  Display  #############################

# Verbose program output
verbose = "info"

# Don't show interactive progress bar while checking links.
no_progress = true

# Path to summary output file.
output = "lychee_report"

#############################  Cache  ###############################

# Enable link caching. This can be helpful to avoid checking the same links on multiple runs.
cache = false

# Discard all cached requests older than this duration.
max_cache_age = "1d"

#############################  Runtime  #############################

# Maximum number of allowed redirects.
max_redirects = 10

# Maximum number of allowed retries before a link is declared dead.
max_retries = 2

# Maximum number of concurrent link checks.
max_concurrency = 14

#############################  Requests  ############################

# User agent to send with each request.
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"

# Website timeout from connect to response finished.
timeout = 15

# Minimum wait time in seconds between retries of failed requests.
retry_wait_time = 2

# Comma-separated list of accepted status codes for valid links.
accept = ["200", "202", "403", "429"]

# Proceed for server connections considered insecure (invalid TLS).
insecure = true

# When links are available using HTTPS, treat HTTP links as errors.
require_https = true

# Request method
method = "get"

# Custom request headers
header = { "accept" = "text/html", "x-custom-header" = "value" }

# Remap URI matching pattern to different URI.
  remap = [
    "(https://github\\.com/[^#]*)#L[0-9].* $1", # Github lines links
    "^(.*?#.*?):~:text=.* $1", # Text fragments
  ]

# Fallback extensions to apply when a URL does not specify one.
# This is common in documentation tools that cross-reference files without extensions.
fallback_extensions = ["md", "html"]

# HTTP basic auth support. This will be the username and password passed to the
# authorization HTTP header. See
# <https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization>
basic_auth = ["example.com user:pwd"]

# Enable the checking of fragments in links.
include_fragments = true

#############################  Exclusions  ##########################

# Skip missing input files (default is to error if they don't exist).
skip_missing = false

# Check links inside `<code>` and `<pre>` blocks as well as Markdown code
# blocks.
include_verbatim = false

# Ignore case of paths when matching glob patterns.
glob_ignore_case = false

# Exclude URLs and mail addresses from checking. The values are treated as regular expressions
  exclude = [
    '^https://code\.metoffice\.gov\.uk[/$]', # MetOffice - It often needs credentials so link-checker fails
    '^https://(www\.)?linkedin\.com[/$]', # LinkedIn might block link-checkers
    '^https://(www\.)?freepik\.com[/$]', # Freepik might block link-checkers
    '^https://www\.lanl\.gov[/$]', # Gov website - has firewalls that block link-checkers
    '^https://my\.nci\.org\.au[/$]', # NCI user portal - has firewalls that block link-checkers
    '^https://opus\.nci\.org\.au[/$]', # NCI doc - has firewalls that block link-checkers
    '^https://geonetwork\.nci\.org\.au[/$]', # NCI geonetwork - has firewalls that block link-checkers
    '^https://(www\.)?gfdl\.noaa\.gov[/$]', # NOAA website - has firewalls that block link-checkers
    '^https://copernicus\.nci\.org\.au[/$]', # NCI Copernicus - has firewalls that block link-checkers
    '^https://cds\.climate\.copernicus\.eu[/$]', # EU Copernicus - has firewalls that block link-checkers
    '^https://www\.nrc\.gov[/$]', # Gov website - has firewalls that block link-checkers
    '^https://www\.education\.gov\.au[/$]', # AU Gov website - has firewalls that block link-checkers
    '^https://(www\.)?github\.com/ACCESS-NRI/access-cm3-configs[/$]', # Private Repo
    '^https://(www\.)?github\.com/ACCESS-NRI/UM[/$]', # Private Repo
    '^https://forum\.access-hive\.org\.au/t/model-release-checklist-template[/$]', # Private Forum Post
    '^https://mermaid.live[/$]', # Mermaid live editor
    '^https://climate\.mri-jma\.go\.jp/pub/ocean/JRA55-do[/$]', # Sometimes drops out
  ]

# Exclude paths from getting checked. The values are treated as regular expressions
  exclude_path = [
    "site/fontello",
  ]

# Exclude all private IPs from checking.
# Equivalent to setting `exclude_private`, `exclude_link_local`, and
# `exclude_loopback` to true.
exclude_all_private = true

# Check mail addresses
  include_mail = false